body {
    padding: 1em;
    font-family: "Bungee", sans-serif;
}

header {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: flex-end;
    height: 2em;
}

button {
    cursor: pointer;
}

div.perfil-usuario {
    display: flex;
    align-items: center;
    gap: .2em;
    cursor: pointer;
}

.logo-user {
    height: 2em;
    width: auto;
}

p.exit {
    color: red;
    cursor: pointer;
}

div.title-image {
    display: flex;
    padding-left: 10.5em;
    margin-bottom: 2em;
    justify-content: center;
}

.campo-minado-image {
    width: 35%;
    height: auto;
}

div.content {
    display: flex;
    flex-grow: 1;
    padding-left: 1em;
    padding-right: 1em;
    gap: 5em;
    align-items: center;
    justify-content: center;
}

div.options-ranking-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

div.item-iniciar {
    display: flex;
    gap: 1em;
    align-items: center;
}

div.selection-mode {
    display: flex;
    gap: 1em;
    padding: .3em;
}

button.game-mode {
    border-radius: 1em;
    border-style: dotted;
    border-color: #b88b1c;
    padding: .3em;
    transition: background-color 0.4s ease;
    background-color: transparent;

}

button.game-mode:hover {
    background-color: #b88b1c;
}

button.game-mode.active {
    border-style: solid;
    border: gray;
    background-color: #DAA520;
}

span {
    font-family: "Bungee", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

div.iniciar-options {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

div.iniciar-options img {
    width: 3em;
    height: 3em;
    align-self: center;
}

div.game-settings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    width: 50em;
    height: 30em;
    border-radius: 1em;
}

div.bora-comecar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

button.start-game-button {
    background-color: #FF2C23;
    padding: 1em;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 4px 4px 0px #00000040;
}

button.start-game-button:hover {
    background-color: #b92b26;
}

.perfil_ranking {
    display: flex;
    align-items: center;
    gap: .3em;
    margin-left: 2em;
    margin-top: 1.5em;
}

.perfil_historico {
    display: flex;
    align-items: center;
    gap: .2em;
    margin-left: 2em;
    margin-top: .7em;
}

input[type='range'] {
    accent-color: #E8B931;
    border: none;
    outline: none;
}

input[type='range']:focus {
    outline: none;
    border: none;
}

.area_iniciar {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #C6C6C6;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 20px;
}

.simbolo_menos {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}

.simbolo_mais {
    cursor: pointer;
    user-select: none;
}