* {
    margin: 0;
    padding: 0;
}
  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../imagens/background-logo.png');
    background-repeat: repeat;
}

div.section{
    display: flex;
    gap: 2em;
    background-color: #D9D9D9;
    padding: 2em;
    border-radius: .5em;
    flex-direction: column;
    align-items: center;
    width: 20em; 
    margin-bottom: 1em;
}

.text-biginfo{
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.text-info{
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: left !important;
}
.form_campo {
    border: 0;
    width: 22em;
    height: 3.5625em;
    border-radius: 20px;
    background: #e8baba;
    color: black;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding-left: 1.5em;
    padding-right: 1em;
  }

.form_campo:focus{
    outline: none;
}

.recuperar {
    background-color: #FF2C23;
    height: 3em;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: "Bungee", sans-serif;
    font-size: medium;
    width: 13em;
}

.recuperar:hover {
    cursor: pointer;
    background-color: #b92b26;
}

.cancelar{
    font-family: "Road Rage", sans-serif;
    font-size: 25px;
}

.cancelar:hover{
    cursor: pointer;
}

.titulo {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-top: 1em; 
    margin-bottom: .5em;
}
.recuperar_texto{
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}